{deps_dir, [deps]}.
{erl_opts,
  [
    {i, "./include"}
  ]}.
{deps,
  [
    {lager, ".*", {git, "https://github.com/basho/lager.git", "2.0.1"}},
    {rz_util, ".*", {git, "git@bitbucket.org:AVNechaev/rz_util.git", "master"}},
    {erlang_localtime, ".*", {git, "git@bitbucket.org:AVNechaev/erlang_localtime.git", "master"}}
  ]}.

{sub_dirs, ["rel"]}.
